<div id="parent">
    <header> <h1 id="tytul">Fiszki</h1> </header>
    <div id="left"> <br>
        <nav>
            <a href="/">Strona główna</a> <br> <br>
            <a href="flashcard1">Fiszka</a> <br>
            <a href="flashcard2">Kolejna fiszka</a> <br>
            <a href="flashcard3">Biologia</a><br>
        </nav>
        <div id="newdecks">
        <br><br><br><br>
        <button id="nowe">Nowa fiszka</button>    
        </div>
    </div>
    <div id="main"> <br>
        <div id="">

        </div>
        <router-outlet></router-outlet>
    </div>
    <footer></footer>
</div>