<div id="parent">
    <header> <h1 id="tytul">Fiszki</h1> </header>
    <div id="left"> <br>
        <nav>
            <a href="/">Strona główna</a> <br> <br>
            <div>
                <a class="clicked" *ngFor="let name of names;" (click)="click($event)">{{name}}<br></a>
            </div>
        </nav>
        <div id="newdecks">
        <br><br><br><br>
        <button id="nowe">Nowa fiszka</button>    
        </div>
    </div>
    <div id="main"> <br>
        <div id="maintenance">
        </div>
        <router-outlet></router-outlet>
    </div>
    <footer></footer>
</div>