<div id="parent">
    <header>
        <a href="/">
            <h1>Fiszki</h1>
        </a>
    </header>
    <div class="container">
        <nav>
            <div id="decks">
                <a class="choose-deck" *ngFor="let name of names" (click)="click($event)">{{ name }}</a>
            </div>
            <button id="new-flashcard">Nowa fiszka</button>
        </nav>
        <div class="container2">
            <main>
                <div id="maintenance" *ngIf="isNotVisible">
                    fiszki!!!!!!!11!1!1!!!!1!!1!!! naucz sie czegos
                </div>
                <router-outlet></router-outlet>
            </main>
            <footer>:3</footer>
        </div>
    </div>
</div>