*{
    color: #e0e0e0;
    text-align: center;
    font-size: 110%;
}
header{
    background-color: #3c3c3c;
    height:100px;
    width: 100%;
    border-radius: 20px 20px 0px 0px ;
}
#left{
    background-color: #202020;
    float:left;
    height: 30em;
    width:200px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 0px 20px ;
    border-right:2px dashed #494949;
    overflow-y:scroll;
}
#main{
    background-color: #202020;
    height: 30em;  
    border-radius: 0px 0px 20px 20px ; 
}
#nowe{
    background: none;
    border: none;
    transition: color 1s ease;
}
#nowe:hover{
    color:#b6b6b6;
}
router-outlet{
    margin-top: 20px;
}
#tytul{
    padding:2%;
}
a{
    text-decoration: none;
    transition: color 1s ease;
}
a:hover{
    color:#868686;
}
::-webkit-scrollbar{
    visibility:hidden;
}
li{
    list-style: none;
}