*{
    color: #e0e0e0;
    text-align: center;
    font-size: 110%;
}
header{
    background-color: #3c3c3c;
    height:100px;
    width: 100%;
    border-radius: 20px 20px 0px 0px ;
}
#left{
    background-color: #202020;
    float:left;
    height: 79.5vh;
    width:200px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 0px 20px ;
    border-right:2px dashed #494949;
    overflow-y:auto;
}
#main{
    background-color: #202020;
    height: 30em;  
    border-radius: 0px 0px 20px     0px ; 
    padding-bottom: 0px;
    scrollbar-width: none;
    overflow-y:auto;
}
#nowe{
    background: none;
    border: none;
    transition: color 1s ease;
}
#nowe:hover{
    color:#ff9393;
}
router-outlet{
    margin-top: 20px;
}
#tytul{
    padding:2%;
    font-size: 150%;
}
a{
    text-decoration: none;
    transition: color 1s ease;
}
a:hover{
    color:#868686;
}

li{
    list-style: none;
}
a.clicked{
    cursor: pointer;
}
.scrollable{
    overflow: hidden;
    height: 10vh;
    scrollbar-width: none;
}