*{
    color: #d1dbe3;
    text-align: center;
}
header{
    background-color: navy;
    height:100px;
    width: auto;
}
#left{
    background-color: blueviolet;
    float:left;
    height: 30em;
}
#main{
    background-color: purple;
    height: 30em;   
}
